* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.red {
    height: 35px;
    width: 100%;
    background-color: #B74729;
}

.red i {
    color: white;
    position: absolute;
    margin-top: 0.5%;
    left: 20%;
}

.red .number {
    position: absolute;
    top: 1%;
    left: 21.5%;
    color: white;
}

.telegram i {
    position: absolute;
    top: 0.5;
    left: 25%;
}

.symbol i {
    position: absolute;
    top: 0.5%;
    left: 30%;
}

.tele {
    position: absolute;
    top: 0.7%;
    left: 30%;
    color: white;
}

.face i {
    position: absolute;
    top: 0.2.5%;
    left: 65%;
    color: white;
}

.tiwter i {
    position: absolute;
    top: 0.3%;
    left: 66.5%;
    color: white;
}

.insta i {
    position: absolute;
    top: 0.3%;
    left: 68.2%;
    color: white;
}

.chrome i {
    position: absolute;
    top: 0.3%;
    left: 70.1%;
    color: white;
}

.sign {
    position: absolute;
    top: 1.5%;
    left: 74%;
    color: white;
    font-size: 15px;
}

.log {
    position: absolute;
    top:1.5%;
    left: 80%;
    color: white;
    font-size: 15px;
}
.blackbar{
    height: 10vh;
    width: 100%;
    background-color: black;

}
.blackbar h1{
    color: rgb(221, 218, 218);
    position: absolute;
    top: 8%;
    left: 10%;
    transition: 0.7s;
    cursor: pointer;
  

}
.blackbar :hover{
    color: white;
}
.store{
    position: absolute;
    left: 23%;
    top: 8%;
    color: gray;
}
.home p{
    position: absolute;
    top: 9%;
    left: 50%;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.home :hover{
    color: orangered;
}
.about p{
    position: absolute;
    top: 9%;
    left: 57%;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.about :hover{
    color: orangered;
}
.produtcs p{
    position: absolute;
    top: 9%;
    left: 64%;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.produtcs :hover{
    color: orangered;
}
.blog p{
    position: absolute;
    top: 9%;
    left: 73%;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.blog :hover{
    color: orangered;
}
.contact p{
    position: absolute;
    top: 9%;
    left: 79%;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.contact :hover{
    color: orangered;
}
.cart{
    height: 60px;
    width: 80px;
    position: absolute;
    top: 6.5%;
    left: 86.5%;
    
}
.banner img{
    height: 80vh;
    width: 100%;

}
/* animista here used */
.slide-top {
    height: 40vh;
    width: 100%;
    background-color:#A23F25;
    position: absolute;
    top: 90%;
}

.user{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 65%;
    left: 10%;

    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.heading h4{
    color: white;   
    position: absolute;
    top:    60%;
    left: 18%;
    font-size: 22px; 

    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.para1 p{
    color: rgb(214, 210, 210);
    position: absolute;
    top: 80%;
    left: 18%;

    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
   
}
.money img{
    position: absolute;
    top: 70%;
    left: 40%;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.head2 h4{
    position: absolute;
    top: 55%;
    left: 50%;
    color: white;
    font-size: 22px;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.para2 p{
    position: absolute;
    top: 190%;
    left: 50%;
    color: rgb(214, 210, 210);
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.truck img{

    height: 100px;
    width: 90px;
    position: absolute;
    top:70%;
    left: 70%;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.head3 h4 {
    position: absolute;
    top: 10%;
    left: 80%;
    color: white;
    font-size: 20px;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.para2 p{
    position: absolute;
    top: 85%;
    left: 48%;
    color: rgb(214, 210, 210);
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.truck img{

    height: 100px;
    width: 90px;
    position: absolute;
    top:65%;
    left: 70%;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}    
}
.head3 h4{
    position: absolute;
    top: 56%;
}
.para3{
    position: absolute;
    top: 80%;
    left: 80%;
    color: rgb(214, 210, 210);
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}

}
.liq img{
    height: 480px;
    width: 480px;
    position: absolute;
    left:12%;
    top:130%;        
}
.DATE i{
    position: absolute;
    top: 185%;
    left: 50%;
    color: #B74729;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.de h1{
     position: absolute;
     top: 195%;
     left: 50%;
     font-size: 45px;
     color: black;
     -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
 
 /* ----------------------------------------------
 * Generated by Animista on 2024-11-20 18:33:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 
 /**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
 0% {
 -webkit-transform: translateY(0);
       transform: translateY(0);
 }
 100% {
 -webkit-transform: translateY(-100px);
       transform: translateY(-100px);
 }
 }
 @keyframes slide-top {
 0% {
 -webkit-transform: translateY(0);
       transform: translateY(0);
 }
 100% {
 -webkit-transform: translateY(-100px);
       transform: translateY(-100px);
 }

}
.paras1 p{
    height: 300px;
    width: 500px;
    color: gray;
    position: absolute;
    top: 230%;
    left: 50%;
    font-size: 16px;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.parass2 p{
    height: 300px;
    width: 475px;
    color: gray;
    position: absolute;
    top: 273%;
    left: 50%;
    font-size: 16.5px;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.nu i{
    position: absolute;
    top: 340%;
    left: 50%;
    font-size: 30px;
    color:  #C66D56;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.year p{
    position: absolute;
    top: 340%;
    left: 54%;
    color: black;
    font-size: 30px;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.brandy img{
    height: 110px;
    width: 110px;
    border-radius:100%;
    position: absolute;
    top: 390%;
    left: 15%;
    border: 1px solid  #C66D56;
    padding: 7px 7px 7px 7px;
    transition: 0.7s;
    cursor: pointer;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.br p{
      position: absolute;
      top: 440%;
      left:16.5%;
      font-size: 20px;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-11-20 18:33:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-top
* ----------------------------------------
*/
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(0);
      transform: translateY(0);
}
100% {
-webkit-transform: translateY(-100px);
      transform: translateY(-100px);
}
}
.brandy :hover{
      height: 90px;
      width: 90px;
      background-color:rgb(233, 218, 196) ;
}

.gin img{
      height: 110px;
      width: 110px;
      border-radius: 100px;
      position: absolute;
      left: 28%;
      top: 390%;
      border: 1px solid  #C66D56;
      padding: 7px 7px 7px 7px;
      transition: 0.7s;
      cursor: pointer;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}
.ginn p{
      position: absolute;
      top: 442%;
      left: 31%;
      font-size: 21px;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}
.gin :hover{
      height: 90px;
      width: 90px;
      background-color:rgb(233, 218, 196) ;
} 

.rumm img{
      height: 110px;
      width: 110px;
      border-radius: 100px;
      position: absolute;
      left: 41%;
      top: 392%;
      border: 1px solid  #C66D56;
      padding: 7px 7px 7px 7px;
      transition: 0.7s;
      cursor: pointer;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}


.rum p{
      position: absolute;
      top: 442%;
      left: 43%;
      font-size: 20px;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}
.rumm :hover{
      height: 90px;
      width: 90px;

      background-color:rgb(233, 218, 196) ;
} 
.teq img{
      height: 110px;
      width: 110px;
      border-radius: 100px;
      position: absolute;
      left: 53%;
      top: 393%;
      border: 1px solid  #C66D56;
      padding: 7px 7px 7px 7px;
      transition: 0.7s;
      cursor: pointer;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}
.tequ p{
      position: absolute;
      top: 442%;
      left: 54.5%;
      font-size: 20px;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}
.teq :hover{
      height: 90px;
      width: 90px;
      background-color: rgb(233, 218, 196);
}
.vodaka img{
      height: 110px;
      width: 110px;
      border-radius: 100px;
      position: absolute;
      left: 65%;
      top: 394%;
      border: 1px solid  #C66D56;
      padding: 7px 7px 7px 7px;
      transition: 0.7s;
      cursor: pointer;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}
.vodaka :hover{
      height: 90px;
      width: 90px;
      background-color: rgb(233, 218, 196);;
}
.vodakaa p{
      position: absolute;
      top: 442%;
      left: 66.5%;
      font-size: 20px;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}

.whiskey img{
      height: 110px;
      width: 110px;
      border-radius: 100px;
      position: absolute;
      left: 77%;
      top: 394%;
      border: 1px solid  #C66D56;
      padding: 7px 7px 7px 7px;
      transition: 0.7s;
      cursor: pointer;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}

.whis p{
      position: absolute;
      top: 442%;
      left: 78.5%;
      font-size: 20px;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .whiskey :hover{
    background-color: rgb(233, 218, 196);
      opacity: 1; 
      height: 90px;
      width: 90px;
}
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
}

.our i{
      position: absolute;
      top: 500%;
      left: 45%;
      color:#C66D56;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }

}
.taste h3{
      position: absolute;
      top: 515%;
      left: 40%;
      font-size: 40px;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2024-11-20 18:33:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  
  /**
  * ----------------------------------------
  * animation slide-top
  * ----------------------------------------
  */
  @-webkit-keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }
  }
  @keyframes slide-top {
  0% {
  -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
  }

}

.bacar img{
      height: 330px;
      width: 240px;
      position: absolute;
      top: 520%;
      left: 10%;
}

.jim img{
      height: 330px;
      width:240px;
      position: absolute;
      top: 520%;
      left: 32%;
}
.bl img{
      height: 330px;
      width:240px;
      position: absolute;
      top: 520%;
      left: 54%;
}
.genli img{
      height: 330px;
      width:240px;
      position: absolute;
      top: 520%;
      left: 75%;
}
.black img{
      height: 330px;
      width:240px;
      position: absolute;
      top: 720%;
      left: 10%;
}
.malla img{
      height: 330px;
      width:240px;
      position: absolute;
      top: 720%;
      left: 32%;
}
.monk img{
      height: 330px;
      width:240px;
      position: absolute;
      top: 720%;
      left: 54%;
}
.jame img{
      height: 330px;
      width:350px;
      position: absolute;
      top: 720%;
      left: 70%;
}
.box1{
      height: 20px;
      width: 45px;
      background-color: #B7472A;
      position: absolute;
      top: 648.5%;
      left: 10.2%;
}
.box1 p{
      color: white;
      position: absolute;
      left: 20%;
}

.boxx2{
      height: 20px;
      width: 100px;
      background-color:#FE9801;
      position: absolute;
      top: 648.5%;
      left: 32.2%;
}
.boxx2 p{
    color:white;
      position: absolute;
      left: 18%;
}

.box3{
      height: 20px;
      width: 100px;
      background-color: #01D28E;
      position: absolute;
      top: 648.5%;
      left: 54.2%;

}
.box3 p{
      color: white;
      position: absolute;
      left: 10%;
}

.name1 i{
     
      color: #B74729;
       position: absolute;
       top: 660.5%;
       left: 15.2%;
 
 }
 .brname1 p{
     
      color:black;
     position: absolute;
     top: 670%;
     left: 14%;
     font-size: 20PX;
 }
 .price1 i{
     
      color:#989898;
     position: absolute;
     top: 685%;
     left: 15.5%;
     font-size: 15PX;
 }

 .name2 i{
     
      color: #B74729;
      position: absolute;
       top: 660.5%;
       left: 40%;
 
 }
 .brname2 p{
     
      color:black;
     position: absolute;
     top: 668%;
     left: 35%;
     font-size: 20PX;
 }
 .price2 i{
     
      color:#989898;
     position: absolute;
     top: 690%;
     left: 39.5%;
     font-size: 15PX;
 }

 .name3 i{
     
      color: #B74729;
       position: absolute;
       top: 662.5%;
       left: 61.2%;
 
 }
 .brname3 p{
     
      color:black;
     position: absolute;
     top: 672%;
     left: 60%;
     font-size: 20PX;
 }
 .price3 i{
     
      color:#989898;
     position: absolute;
     top: 688%;
     left: 61.5%;
     font-size: 15PX;
 }

 .name4 i{
     
      color: #B74729;
       position: absolute;
       top: 662.5%;
       left: 82.2%;
 
 }
 .brname4 p{
     
      color:black;
     position: absolute;
     top: 672%;
     left: 80%;
     font-size: 20PX;
 }
 .price4 i{
     
      color:#989898;
     position: absolute;
     top: 688%;
     left: 82.5%;
     font-size: 15PX;
 }

 .name5 i{
     
      color: #B74729;
       position: absolute;
       top: 862.5%;
       left: 15.2%;
 
 }
 .brname5 p{
     
      color:black;
     position: absolute;
     top: 872%;
     left: 13.5%;
     font-size: 20PX;
 }
 .price5 i{
     
      color:#989898;
     position: absolute;
     top: 888%;
     left: 15.5%;
     font-size: 15PX;
 }
 .name6 i{
     
      color: #B74729;
       position: absolute;
       top: 862.5%;
       left: 39.2%;

 }
 .brname6 p{
     
      color:black;
     position: absolute;
     top: 872%;
     left:38%;
     font-size: 20px;
 }
 .price6 i{
     
      color:#989898;
     position: absolute;
     top: 888%;
     left: 39.5%;
     font-size: 15PX;
 }

 .name7 i{
     
      color: #B74729;
       position: absolute;
       top: 862.5%;
       left: 60.2%;

 }
 .brname7 p{
     
      color:black;
     position: absolute;
     top: 872%;
     left:59%;
     font-size: 20px;
 }
 .price7 i{
     
      color:#989898;
     position: absolute;
     top: 888%;
     left: 60.5%;
     font-size: 15PX;
 }
 .name8 i{
      color: #B74729;
       position: absolute;
       top: 858.5%;
       left: 80.2%;

 }
 .brname8 p{
     
      color:black;
     position: absolute;
     top: 867%;
     left: 78%;
     font-size: 20px;
 
}
 .price8 i{

      color:#989898;
       position: absolute;
       top: 888.5%;
       left: 81.3%;

 }

.bigbox{
      height: 30px;
      width: 300px;
      background-color: #B74729;
      position: absolute;
      top: 930%;
      left: 40%;
}
.bigbox p{
      color: white;
      position: absolute;
      left: 30%;
      top: 20%;

}
.four img{
      height: 500px;
      width: 100%;
      position: absolute;
      top: 960%;

}
.blog i{
      color: #B74729;
      position: absolute;
      top: 1180%;
      left: 50%;
      font-size: 20px;
}
.rece h4{
      position: absolute;
      top: 1190%;
      left: 46.5%;
      color: black;
      font-size: 35px;
      
}
.down img{
      height: 650px;
      width: 1050px;
      position: absolute;
      top: 1220%;
      left: 12%;
}

.last{
    height: 380px;
    width: 100%;
    background-color:#1A1A1A;
    position: absolute;
    top: 1500%;
    left: 0%;
}

.liqst p{
      color:white;
      position: absolute;
      top: 1520%;
      left: 12.5%;
      font-size: 25px; 
      transition: 0.7s;
      cursor: pointer;
}
.liqst :hover{
      color: #B7472A;
}
.sto p{
      color:gray;
      position: absolute;
      top: 1520%;
      left: 20.5%;
      font-size: 25px; 
}
.my p{
      color:rgb(237, 235, 235);
      position: absolute;
      top: 1522%;
      left: 33.5%;
      font-size: 20px; 
}
.paralast p{
      color:rgb(216, 216, 216);
      position: absolute;
      top: 1545%;
      left: 12.5%;
      font-size: 17px; 
}
.info p{
      color:rgb(237, 235, 235);
      position: absolute;
      top: 1522%;
      left: 47.5%;
      font-size: 20px; 
}
.quick p{
      color:rgb(237, 235, 235);
      position: absolute;
      top: 1522%;
      left: 60.5%;
      font-size: 20px; 
}
.ha p{
      color:rgb(237, 235, 235);
      position: absolute;
      top: 1522%;
      left: 73.5%;
      font-size: 20px; 
}
.list1 p{
      color:#8D8D8D;
      position: absolute;
      top: 1540%;
      left: 33.5%;
      font-size: 15px; 
}
.list2 p{
      color:#8D8D8D;
      position: absolute;
      top: 1540%;
      left: 47.5%;
      font-size: 15px; 
}
.list3 p{
      color:#8D8D8D;
      position: absolute;
      top: 1540%;
      left: 60.5%;
      font-size: 15px; 
}
.list4 p{
      color:rgb(212, 209, 209);
      position: absolute;
      top: 1540%;
      left: 76.5%;
      font-size: 15px; 
}
.list5 p{
      color:#8D8D8D;
      position: absolute;
      top: 1583%;
      left: 76.5%;
      font-size: 15px; 
}     
.list5 p i{
      color: #8D8D8D;
      position: absolute;

}
.list6 p{
      color:#8D8D8D;
      position: absolute;
      top: 1599%;
      left: 76.5%;
      font-size: 15px; 
}
.lastblack{
      height: 100px;
      width: 100%;
      background-color:black;
      position: absolute;
      top: 1619%;
      left: 0%;
      
      font-size: 15px; 
}
.lastblack p{
      color: gray;
      position: absolute;
      top: 50%;
      left: 10%;
}
.cir1{
    height: 40px;
    width: 40px;
   background-color:#B7472A;
   border-radius: 100%;
      position: absolute;
     top: 1593%;
      left: 12.5%;
      font-size: 15px; 
      
}
.cir1 i{
      position: absolute;
      top: 30%;
      left: 30%;
      color: white;
}
.cir2{
      height: 40px;
      width: 40px;
     background-color:#B7472A;
     border-radius: 100%;
        position: absolute;
       top: 1593%;
        left: 16.5%;
        font-size: 15px; 
        
  }
  .cir2 i{
      position: absolute;
      top: 30%;
      left: 30%;
      color: white;
}
  .cir3{
      height: 40px;
      width: 40px;
     background-color:#B7472A;
     border-radius: 100%;
        position: absolute;
       top: 1593%;
        left: 21%;
        font-size: 15px; 
        
  }
  .cir3 i{
      position: absolute;
      top: 30%;
      left: 30%;
      color: white;
}