*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.mount{
    height: 950px;
    width: 100%;
    position: absolute;
}
.p1{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    position: absolute;
    top: 10%;
    left: 33%;
    opacity: 20%;
}

.p2{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    position: absolute;
    top: 10%;
    left: 39%;
}
.p3{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    position: absolute;
    top: 10%;
    left: 46%;
}

.p4{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    position: absolute;
    top: 10%;
    left: 52%;
}
.glo{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10%;
    left: 57.5%;
}
.glo2{
    height: 20px;
    width: 35px;
    position: absolute;
    top: 10.5%;
    left: 62.5%;
}
.hea1{
    color: white;
    position: absolute;
    top: 25%;
    left: 45%;
    font-size: 30px;
    font-family: sans-serif;
}
.hea2{
    color: white;
    position: absolute;
    top: 35%;
    left: 30%;
    font-size:80px;
    font-family: sans-serif;
}
.para1{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 35%;
    line-height: 35px;
}
.le{
    height: 30px;
    width: 20px;
    position: absolute;
    top: 37%;
    left: 10%;
}
.le2{
    height: 30px;
    width: 20px;
    position: absolute;
    top: 37%;
    left: 90%;
}
.le3{
     height: 15px;
    width: 15px;
    position: absolute;
    top: 65%;
    left: 48%;
}
.le4{
    height: 15px;
    width: 15px;
    position: absolute;
    top: 65%;
    left: 46%;
}
.le5{
     height: 15px;
    width: 15px;
    position: absolute;
    top: 65%;
    left: 50%;
}
.le6{
     height: 15px;
    width: 15px;
    position: absolute;
    top: 65%;
    left: 52%;
}
.le7{
     height: 15px;
    width: 15px;
    position: absolute;
    top: 65%;
    left: 54%;
}
.btn1{
    height: 60px;
    width: 15%;
    background-color: #482BE7;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 72%;
    left: 43%;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    

}

.btn1:hover {
    background-color: #8a7ae6;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2); 
    color: black;
}
.mp1{
    height: 600px;
    width: 100%;
    position: relative;
    top: 900px;
    
}
.mp2{
        color: white;
        font-size: 40px;
        position: absolute;
        top: 112%;
        left: 38%;
        font-family: sans-serif;

            
}
.mp3{
     
    position: absolute;
    top: 130%;
    left: 31%;
    color: white;
    opacity: 50%;
    line-height: 25px;
    font-size: 20px;
    font-family: sans-serif;
    
}
.mp4{
    position: absolute;
    top: 105%;
    left: 45%;
    letter-spacing: 10px;
    color: white;
    font-family: sans-serif;

}
.thirdpt{
    height: 800px;
    width: 100%;
    position: absolute;
    margin-top: 46%;
}
.thirdpt3{
    height: 600px;
    width: 30%;
    position: absolute;
    margin-top: 50%;
}
.pe1{
    position: absolute;
  top: 110%;
    color: white;

    font-size: 30px;
    font-family: sans-serif;

}
